#wrapper{
    margin: auto;
}
#bar{
    
    height: 70px;
    width:auto;
    margin: auto;
    background-color: rgb(23, 210, 235);}
#search{
    
    height: 30px;
    margin: 10px;
    float: center;
}
#tivi{
    width: 45%;
    height: 400px;
    margin: 20px;
    background-color: burlywood;
    float: left;
}
#list{
    width : 40%;
    margin: 20px;
    background-color: cornflowerblue;
    float: left;
}
#cmt{
    width: 45%;
    height: 300px;
    margin: 20px;
    background-color: chartreuse;
    float: left;
    
}

    