#wrapper{
    margin: auto;
}
#bar{
    
    height: 70px;
    width:auto;
    margin: auto;
    background-color: rgb(23, 210, 235);}
#search{
    
    height: 30px;
    margin: 10px;
    float: center;
}
#content{
    width: 50%;
    margin: 20px;
    float: left;
}
#tivi{
    width: 100%;
    height: 400px;
    background-color: burlywood;
    float: left;
}
#space{
    width: 100%;
    height: 20px;
    float: left;
}
#cmt{
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    float: left;
    
}

#list{
    width : 40%;
    margin: 20px;
    float: left;
    background-color: rgb(171, 209, 214);
}

    